@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --doc-height: 100%;
  --navbar-height: 60px;
  --light: '#f9fafd';
  --dark: '#0b1727';
}

@layer utilities {
  .content-height {
    height: calc(var(--doc-height) - var(--navbar-height));
  }
}

body, html, #root {
  margin: 0;
  height: 100vh;
  height: var(--doc-height);
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
